<div class="{{ section.settings.class }}icon-{{ section.settings.cstm_class }}" style="background:{{ section.settings.bg_color }};">
<div class="logo-list">
  {%- if section.settings.title != blank -%}
    <div class="logo-list__header">
      <h2 style="color:{{ section.settings.head_Color }};">{{ section.settings.title | escape }}</h2>
    </div>
  {%- endif -%}
  {%- if section.blocks.size > 0 -%}
    <div class="logo-bar">
      {%- for block in section.blocks -%}
        <div class="logo-bar__item" {{ block.shopify_attributes }}>
          {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}" class="logo-bar__link">
          {%- endif -%}
          {%- if block.settings.image != blank -%}
            {{ block.settings.image | img_url: '100x100', scale: 2 | img_tag: block.settings.image.alt, 'logo-bar__image' }}
             {%- elsif block.settings.custom_liquid != blank -%}
              {{ block.settings.custom_liquid }}
            {%- else -%}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
       
        {%- if block.settings.heading != blank -%}
           <h3 class="logo-head" style="color:{{ block.settings.titleColor }};">{{ block.settings.heading }}</h3>
          {%- endif -%}
             
        {%- if block.settings.subheading != blank -%}
           <p class="logo-content" style="color:{{ block.settings.rich_textColor }};">{{ block.settings.subheading }}</p>
          {%- endif -%}
          {%- if block.settings.link != blank -%}
            </a>
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>
</div>

<style type="text/css">
  img.logo-bar__image {
    width: 300px;
    height: 300px;
}
.logo-list__header {
  text-align: center;
}
.logo-bar {
  text-align: center;
}
.logo-bar__item {
  display: inline-block;
  vertical-align: middle;
  max-width: 300px;
  margin: 20px 20px 20px;
}
.logo-bar__image {
  display: block;
  margin: 0 auto;
}
.logo-bar__link {
  display: block;
  text-decoration: none;
}
  .logo-bar__item svg {
    width: 50px;
    height: 50px;
}
  .logo-list__header h2 {
    margin: 0;
}
  .icon-press {
    padding-top: 80px;
}

</style>

{% schema %}
  {
    "name": "Logo list",
    "class": "index-section",
    "max_blocks": 20,
    "settings": [
      {
        "type": "paragraph",
        "content": "Keep update"
      },
       {
            "type": "text",
            "id": "cstm_class",
            "label": "Custom class"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Logo list"
      },
      {
          "type": "color",
          "id": "head_Color",
          "label": "Heading Color",
          "default": "#ffffff"
      },
       {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color",
          "default": "#ffffff"
      },
      {
            "type": "range",
            "id": "margin_top",
            "label": "Margin Top",
            "min": 0,
            "max": 50,
            "unit":"px",
            "step": 5,
            "default": 10
        },
      {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin Bottom",
            "min": 0,
            "max": 50,
            "unit":"px",
            "step": 5,
            "default": 10
        }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "liquid",
            "id": "custom_liquid",
            "label": "Custom Liquid"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "subheading",
            "label": "Content"
          },
          {
          "type": "color",
          "id": "titleColor",
          "label": "Heading color",
          "default": "#000"
          },
          {
          "type": "color",
          "id": "rich_textColor",
          "label": "Text Color",
          "default": "#fff"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo list",
        "category": "Image",
        "blocks": [
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          }
        ]
      }
    ]
  }
{% endschema %}